@model IEnumerable<EpamPractice1.DAL.Entities.Review>

@{
    ViewBag.Title = "Reviews";
    @Styles.Render("~/Content/mainPage.css")    

}
<main class="row">
    <section class="col-md-8">
        <h2>Reviews</h2>        
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AuthorName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Body)
                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AuthorName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Body)
                    </td>
                </tr>
            }

        </table>       


        @using (Html.BeginForm("Create", "Reviews"))
        {         
            <div class="form-horizontal">
                <h4>Create Review</h4>                              
                <div class="form-group">
                    @Html.Label("authorName", "Author Name", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.Editor("authorName", new { htmlAttributes = new { @class = "form-control" } })                        
                    </div>
                </div>               

                <div class="form-group">
                    @Html.Label("body", "Body", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.Editor("body", new { htmlAttributes = new { @class = "form-control" } })                        
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create review" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </section>
    <section class="col-md-4">
        <ul class="main-menu">
            <li>@Html.ActionLink("Главная", "Index", "Articles")</li>
            <li><a href="#">Гостевая</a></li>
            <li>@Html.ActionLink("Анкеты", "Index", "Forms")</li>
        </ul>
        @Html.ActionLink("Выйти из аккаунта", "Logout", "Account")
    </section>
</main>

